
html, body {
	display: block;
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: helvetica, sans-serif;
	font-style: italic;
	color: black;
	white-space: nowrap;
}

body {
	opacity: 0;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-ms-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.content	{
	width: 111.5vw;
	font-size: 8.6vw;
	height: auto;
	min-height: 100vh;
	background-image: url(bg-clouds.jpg);
	background-size: cover;
	/*animation: animatedBackground 30s linear infinite alternate;
	-ms-animation: animatedBackground 30s linear infinite alternate;
	-moz-animation: animatedBackground 30s linear infinite alternate;
	-webkit-animation: animatedBackground 30s linear infinite alternate;*/
}

#background_lacuna	{
	background-image: url(bg-clouds.jpg);
	background-size: cover;
	animation: animatedBackground 250s linear infinite alternate;
	-ms-animation: animatedBackground 250s linear infinite alternate;
	-moz-animation: animatedBackground 250s linear infinite alternate;
	-webkit-animation: animatedBackground 250s linear infinite alternate;
}

.menu:hover { background-color:rgba(255,255,255,0.3); }

a {
	display: block;
	color: black;
	text-decoration: none;
}

a:visited { color: black; }

@media screen and (min-width: 1020px) {
	#background {
		background-size: 150vw;
		/*animation: animatedBackground 20s linear infinite alternate;
		-ms-animation: animatedBackground 20s linear infinite alternate;
		-moz-animation: animatedBackground 20s linear infinite alternate;
		-webkit-animation: animatedBackground 20s linear infinite alternate;*/
	}
}

@media screen and (max-width: 1020px) {
	.menu {
		font-size: 0.5em;
	}
	.menu:hover {
		font-size: 0.5em;
	}
}

@media screen and (max-width: 622px) {
	.menu {
		font-size: 28px;
	}
	.menu:hover {
		font-size: 28px;
	}
}
